/* General View */

body {
	background-color:#fefefe;
}

#content {
	margin-top:65px;
	margin-left:10px;
}

#view-wrapper {
	margin-top:10px;
	padding:10px;
}

.info-wrapper {
	margin-top:45px;
}

.tab-content{
	overflow:auto;
	max-height:530px;
}

/* Sidebar */

#refreshButton{
	margin-left: 5px;
}

/* Network View */

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/* Parallel view */

svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

/* Treemap View */

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

/* Packet Display */

.data{
  max-width:1000px;
  margin: 10px 25px;
}

.packet-wrapper.col-md-6 {
    max-height: 300px;
    overflow: auto;
}