{% extends "base.html" %}

{% block content %}

		<div id="content" class="container-fluid">
			<div class="row">
				<div class="left-bar col-md-3">
					<ul id="left-tab" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#hosts" aria-controls="hosts" role="tab" data-toggle="tab">Hosts</a></li>
						<li role="presentation"><a href="#services" aria-controls="services" role="tab" data-toggle="tab">Services</a></li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="hosts">
						  <table class="table table-striped">
				            <thead>
				              <tr>
				                <th>#</th>
				                <th>Name</th>
				                <th>OS</th>
				              </tr>
				            </thead>
				            <tbody>
				              <tr>
				                <td>1</td>
				                <td>192.168.0.1</td>
				                <td>Ubuntu</td>
				              </tr>
				            </tbody>
				          </table>
						</div>
						<div role="tabpanel" class="tab-pane" id="services">
							<table class="table table-striped">
				            <thead>
				              <tr>
				                <th>#</th>
				                <th>Protocol</th>
				                <th>Port</th>
				              </tr>
				            </thead>
				            <tbody>
				              <tr>
				                <td>1</td>
				                <td>HTTP</td>
				                <td>80</td>
				              </tr>
				            </tbody>
				          </table>
						</div>
					</div>
				</div>
				<div class="visu-wrapper col-md-6">

					<button id="parallel-btn" class="btn btn-default" type="button">Parallel</button>
					<button id="network-btn" class="btn btn-default" type="button">Network</button>

					<div id="view-wrapper" class="panel panel-default">
						
					</div>
				</div>
				<div class="info-wrapper col-md-3">
					<div class="panel panel-default">
						<div class="panel-heading">Info</div>
						<div class="panel-body"></div>
					</div>
				</div>
			</div>
		</div>
		
{% endblock %}
		