{% extends "base.html" %}

{% block navbar %}
				<li><a href="" data-toggle="modal" data-target="#upModal">New Pcap</a></li>
{% endblock %}

{% block content %}

		<div id="content" class="container-fluid">
			<div class="row">

			<!-- Flash messages for debug -->
				{% with messages = get_flashed_messages(category_filter="error") %}
		        {% if messages %}
		            <ul>
		            {% for m in messages %}
		                <li>{{ m }}</li>
		            {% endfor %}
		            </ul>
		        {% endif %}
		        {% endwith %}
		    <!-- End flash messages -->

				<div class="left-bar col-md-3">
					<table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Protocol</th>
                <th>Packets</th>
                <th><input id="protCheckAll" type="checkbox" checked/><button class="refreshButton">Refresh</button></th>
              </tr>
            </thead>
            <tbody>
            {% for stat in stats | sort(True, attribute="value") %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ stat.name }}</td>
                <td>{{ stat.value }}</td>
                <td><input class="check-prot"	 id="{{ stat.name }}" value="checkbox" type="checkbox" checked></td>
              </tr>
             {% endfor %}
            </tbody>
          </table>
				</div>
				<div class="visu-wrapper col-md-6">

					<ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="active"><a href="#parallel-wrapper" aria-controls="parallel" role="tab" data-toggle="tab">Parallel</a></li>
				    <li role="presentation"><a href="#treemap-wrapper" aria-controls="treemap" role="tab" data-toggle="tab">Treemap</a></li>
						<li role="presentation"><a href="#packet-wrapper" aria-controls="details" role="tab" data-toggle="tab">Details</a></li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" id="parallel-wrapper" class="panel panel-default tab-pane active"></div>
						<div role="tabpanel" id="treemap-wrapper" class="panel panel-default tab-pane"></div>
						<div role="tabpanel" id="packet-wrapper" class="panel panel-default tab-pane">
							<div class="packet-wrapper">
						    <table class="table table-striped" id="table-scroll">
				    		    <thead>
					              <tr>
					                <th>SessionId</th>
					                <th>hostSrc</th>
					                <th>portSrc</th>
					                <th>hostDest</th>
					                <th>portDest</th>
					                <th>protocol</th>
					                <th>data</th>
					                <th>timestamp</th>
					              </tr>
					            </thead>
							    <tbody>
					            {% for packet in packets | sort(False, attribute="sessionId") %}
					              <tr>
			                        <td>{{ packet.sessionId }}</td>
					                <td>{{ packet.hostSrc }}  </td>
					                <td>{{ packet.portSrc }}  </td>
					                <td>{{ packet.hostDest }} </td>
					                <td>{{ packet.portDest }} </td>
					                <td>{{ packet.protocol }} </td>

					                {% if packet.data!="" %}
						                <td>
						                  <button type="button" class="btn" data-toggle="collapse" data-target="#demo-{{ packet.id }}">Show Data</button>
						                </td>
						                <td>{{ packet.timestamp }}</td>
						              </tr>
						              <tr class="collapse out" id="demo-{{ packet.id }}">
						                <td colspan="8">
						                  <div class="data">{{ packet.data }}</div>
						                </td>
						              </tr>
									{% else %}
						                <td>
						                  No Data
						                </td>
						                <td>{{ packet.timestamp }}</td>
						              </tr>
									{% endif %}

					             {% endfor %}
					            </tbody>
				            </table>
									</div>
						</div>
					</div>
				</div>
				<div class="info-wrapper col-md-3">
					<div class="panel panel-default">
						<div class="panel-heading"><input type="checkbox" id="hostCheckAll" checked>Top 10 hosts <button type="button" name="button" style="float:right" class="refreshButton">Refresh</button></div>
						<div class="panel-body">
							<svg class="histogram">
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}

{% block footer %}
		<!-- Modal -->
		<div class="modal fade" id="upModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Upload new Pcap file</h4>
		      </div>
		      <div class="modal-body">
		        <form id="upload-form" action="" method="post" enctype="multipart/form-data">
		        	<div class="form-group">
					    <label for="upPcap">Upload your Pcap</label>
					    <input type="file" id="upPcap" name="upPcap">
					    <p class="help-block">It will be parsed and then displayed.</p>
					</div>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        	<button type="submit" class="btn btn-primary">Save changes</button>
		        </form>
		        <br>
		        <progress style="display:none"></progress>
		        <div class="status-container"></div>
		      </div>
		    </div>
		  </div>
		</div>
{% endblock %}

 {% block javascript %}
<script>
	var loadedSessions = [ {% for session in sessions %}{	'id':'{{ session.id }}','hostSrc':'{{ session.hostSrc }}','hostDest':'{{ session.hostDest }}','portSrc':'{{ session.portSrc }}','portDest':'{{ session.portDest }}','protocol':'{{ session.protocol }}'}{% if not loop.last %},{% endif %}{% endfor %} ];
	var loadedUsers = [ {% for user in users %}{ 'id':'{{ user.id }}', 'address':'{{ user.address }}', 'exchanged':{{ user.exchanged | tojson }} }{% if not loop.last %},{% endif %}{% endfor %}];
 	var loadedTreemap = { 'key':'Hosts',	'values': {{ treemap | tojson }} };
 	var loadedPackets = [ {% for packet in packets %}{ 'id':'{{ packet.id }}','hostSrc':'{{ packet.hostSrc }}','hostDest':'{{ packet.hostDest }}','portSrc':'{{ packet.portSrc }}','portDest':'{{ packet.portDest }}','protocol':'{{ packet.protocol }}','timestamp':'{{ packet.timestamp }}','sessionId':'{{ packet.sessionId }}'}{% if not loop.last %},{% endif %}{% endfor %} ];
</script>
{% endblock %}
